$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABDBD;
$quaternion-color: #FA9500;
$primary-text-color: #7C6ABA;
//Expresion  String
$font-stack: "IBM Plex Sans", sans-serif;
//Expresion  Int
$paragraph-size: 1.5em;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;

    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }

    .icons {
        display: flex;
        gap: 15px;

        button {
            background: transparent;
            border-style: none;
        }
    }
}

article {
    width: auto;
    color: $primary-text-color;
    background-color: min;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;

    .impact-section {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }

    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }

    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }

    button {
        width: 12vw;
        padding: 20px;
        background-color: $quaternion-color;
        border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 1em;
    }
}

section {
    width: auto;
    height: auto;
    background-color: #FFEFE7;
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare {
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        .card-section {
            display: flex;
            width: auto;
            height: auto;
            .product-card {
                width: 14vw;
                height: 45vh;
                background-color: $secondary-color;
                color: $primary-text-color;
                padding: 20px;
                border-radius: 8px;

                .product-img {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 13vw;
                        height: 30vh;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $quaternion-color;
    width: 100%;
    height: 250px;
}