$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABDBD;
$primary-text-color: #7C6ABA;
$font-stack: "IBM Plex Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: 100%;
    height: 100px;
    p {
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        button{
            background: none;
            border: none;
        }
    }
}

main {
    background-color: $primary-color;
}

footer {
    $background: #FA9500;
    background-color: $background;
    width: 100%;
    height: 250px;
}
