
$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABDBD;
$primary-text-color: #7C6ABA;
//Expresion  String
$font-stack: "IBM Plex Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;
    p {
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        gap: 15px;
        button{
            background: none;
            border-style: none;
        }
    }
}

article {
    width: auto;
    color: $primary-text-color;
    background-color: min;
    padding-left: 45px;
    padding-right: 45px;

    .impact-section {
        width: 50%;
        background-color: mintcream;
    }
    .img-section {
        width: 50%;
        background-color: aquamarine;
        img {
            width: 100%;
        }
    }
}

footer {
    $background: #FA9500;
    background-color: $background;
    width: 100%;
    height: 250px;
}
